<h1>Password reset</h1>

<p> To reset password click link below </p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>This link will expire in two hours</p>

<p>If you id not request a password reset please ignore this link</p>